wishlist: support RFC 8925 - IPv6-Only Preferred Option for DHCPv4

I just spotted this RFC while looking at the network-manager changelog. It seems like a good "nice to have" item.

Should be supported AFAIK:

https://github.com/NetworkConfiguration/dhcpcd/commit/25e2eec83b600968f01f7fdb3ebfc3c82fc8c742
https://github.com/NetworkConfiguration/dhcpcd/commit/9330dbb44f48f14903c3cf59c58166c0da4ca173
https://github.com/NetworkConfiguration/dhcpcd/commit/faa3f54eba5dd572946461242039959cd9f723eb

@perkelix can you test the feature and confirm it's working as intended?

Thanks,
--Daniel

Oh, I had missed that one. Do we have it listed among the RFCs we support?

We could add a note about 8925 to the manpage.

Somwhere around here:

```
     dhcpcd is also an implementation of the BOOTP client specified in RFC
     951.

     dhcpcd is also an implementation of the IPv6 Router Solicitor as speci‐
     fied in RFC 4861 and RFC 6106.

     dhcpcd is also an implementation of the IPv6 Privacy Extensions to Auto‐
     Conf as specified in RFC 4941.  This feature needs to be enabled in the
     kernel and dhcpcd will start using it.

     dhcpcd is also an implementation of the DHCPv6 client as specified in RFC
     3315.  By default, dhcpcd only starts DHCPv6 when instructed to do so by
     an IPV6 Router Advertisement.  If no Identity Association is configured,
     then a Non-temporary Address is requested.
```

Patches to the man pages are always welcome :)

Oh I missed the full-blown RFC list :-)

```
STANDARDS
     RFC 951, RFC 1534, RFC 2104, RFC 2131, RFC 2132, RFC 2563, RFC 2855,
     RFC 3004, RFC 3118, RFC 3203, RFC 3315, RFC 3361, RFC 3633, RFC 3396,
     RFC 3397, RFC 3442, RFC 3495, RFC 3925, RFC 3927, RFC 4039, RFC 4075,
     RFC 4242, RFC 4361, RFC 4390, RFC 4702, RFC 4074, RFC 4861, RFC 4833,
     RFC 4941, RFC 5227, RFC 5942, RFC 5969, RFC 6106, RFC 6334, RFC 6355,
     RFC 6603, RFC 6704, RFC 7217, RFC 7550, RFC 7844.
```

@perkelix Can you reopen this issue and retitle it as a documentation bug?