dhcpcd 10.0.6 fails IPv6 Ready Logo test DHCP_CONF1.2.2a

DHCPv6 test 1.2.2a is validating RFC 3315 sections 14 and 17.1.2 (now RFC 8415 sec 15 and 18.2.1), primarily:

   If the client is waiting for an Advertise message, the mechanism
   described in Section 15 is modified as follows for use in the
   transmission of Solicit messages.  The message exchange is not
   terminated by the receipt of an Advertise before the first RT has
   elapsed.  Rather, the client collects valid Advertise messages until
   the first RT has elapsed.  Also, the first RT MUST be selected to be
   strictly greater than IRT by choosing RAND to be strictly greater
   than 0.

Test Specification: https://www.ipv6ready.org/docs/DHCPv6_Conformance.pdf, page 32

I can attach a packet capture of the transaction if needed, but it's trivial to reproduce.

Sorry about the delay, but should be fixed now.