Delegated prefix "will expire before renewal" log messages (dhcpcd 10.0.10)

FreeBSD x64 14.1-RELEASE / dhcpcd port 10.0.10

The following messages start shown in log after updated to dhcpcd 10.0.10.
They reappear every three hours, it that helps.
PS: ng0 is the pppoe dynamic interface

```
Aug 30 13:19:40 router dhcpcd[1014]: ng0: 2a02:587:xxxx:xxxx::/56 will expire before renewal
Aug 30 13:19:40 router dhcpcd[1014]: ng0: ignoring T1 43200 due to address expiry
```
My dhcpcd.conf follows

```
noipv4
noipv4ll
ipv6only
noipv6rs

duid
allowinterfaces ng0

option rapid_commit,interface_mtu,classless_static_routes
nooption domain_name_servers,domain_name,domain_search,host_name
require dhcp_server_identifier
vendorclassid

nohook test,resolv.conf,hostname,ntp.conf

interface ng0
  ipv6rs
  ia_pd 0/::/56 bridge0/0/64/1
```


Please post the output of `dhcpcd -U6 ng0 | grep '_t1\|_t2\|_pltime\|_vltime'`.

The warning message is that your DHCPv6 server is not configured correctly as vltime should always be higher than t1 if t1 is non zero.
See [RFC 8415 Section 18.2.4](https://datatracker.ietf.org/doc/html/rfc8415#section-18.2.4)


Thanks for the tip, Roy.
I've got the following values
```
nd1_prefix_information1_vltime=2592000
nd1_prefix_information1_pltime=604800
dhcp6_ia_pd1_t1=43200
dhcp6_ia_pd1_t2=69120
dhcp6_ia_pd1_prefix1_pltime=86400
dhcp6_ia_pd1_prefix1_vltime=86400
```

Hmmm, they look fine to me?
Can you try this patch please?
https://github.com/NetworkConfiguration/dhcpcd/commit/6cb9e8b74f033afdf1b4f29cd5b9943268a32a60

No problems or warning messages so far.
It looks like type casting was causing the issue.