dhcpcd not getting ACK on REQUEST after OFFER is reseived

Bug report is fallowing [this](https://forums.gentoo.org/viewtopic-p-8864179.html) post on Gentoo forum.

Problem description: dhcpcd is not getting a lease while dhclient work perfectly in all tested conditions.

Testcase: ethernet interface under test is directly connected to the LAN port of the PON-terminal (D-Link DPN-101 in that particular case)  configured as a bridge. No other DHCP-servers except that one provided by the ISP on the net, no virtual machines or whatever.

This is what I'm getting from dhcpcd in debug mode:
```
dhcpcd --debug --ipv4only  --noipv4ll eth0
dhcpcd-10.2.2 starting
spawned manager process on PID 5531
DUID 00:01:00:01:XX:XX:XX:XX:XX:XX:XX:XX:XX:XX
eth0: executing: /lib/dhcpcd/dhcpcd-run-hooks PREINIT
eth0: executing: /lib/dhcpcd/dhcpcd-run-hooks CARRIER
eth0: IAID XX:XX:XX:XX
eth0: delaying IPv4 for 0.3 seconds
eth0: reading lease: /var/lib/dhcpcd/eth0.lease
eth0: soliciting a DHCP lease
eth0: sending DISCOVER (xid 0x84a14922), next in 4.0 seconds
eth0: offered 100.67.3.53 from 100.67.0.1
eth0: sending REQUEST (xid 0x84a14922), next in 3.2 seconds
eth0: sending REQUEST (xid 0x84a14922), next in 7.0 seconds
eth0: sending REQUEST (xid 0x84a14922), next in 16.8 seconds
eth0: sending REQUEST (xid 0x84a14922), next in 31.2 seconds
timed out
eth0: executing: /lib/dhcpcd/dhcpcd-run-hooks STOPPED
dhcpcd exited 
```

And this is what tcpdump shows:
```
# tcpdump -i eth0 -nnn port 67 or port 68
dropped privs to pcap
tcpdump: verbose output suppressed, use -v[v]... for full protocol decode
listening on eth0, link-type EN10MB (Ethernet), snapshot length 262144 bytes
20:35:02.750746 IP 0.0.0.0.68 > 255.255.255.255.67: BOOTP/DHCP, Request from xx:xx:xx:xx:xx:xx, length 351
20:35:02.774793 IP 100.67.0.1.67 > 255.255.255.255.68: BOOTP/DHCP, Reply, length 290
20:35:02.774913 IP 0.0.0.0.68 > 255.255.255.255.67: BOOTP/DHCP, Request from xx:xx:xx:xx:xx:xx, length 361
20:35:06.788579 IP 0.0.0.0.68 > 255.255.255.255.67: BOOTP/DHCP, Request from xx:xx:xx:xx:xx:xx, length 361
20:35:14.896239 IP 0.0.0.0.68 > 255.255.255.255.67: BOOTP/DHCP, Request from xx:xx:xx:xx:xx:xx, length 361
20:35:29.927574 IP 0.0.0.0.68 > 255.255.255.255.67: BOOTP/DHCP, Request from xx:xx:xx:xx:xx:xx, length 361 
```

So, after sending initial DISCOVER dhcpcd receives a valid OFFER from the ISP's DHCP-server, looks like dhcpcd is satisfied by this OFFER and then sends several REQUESTs to get an offered lease, but receives no ACK and finally gave up with timeout. tcpdump conforms that no ACK received while valid OFFER is present. It may look like the DHCP-server is not sending ACKs, but this is not true. I've seen at least two different devices (one is dhclient run after failed dhcpcd in equal condition and another is Android-based special palm unit) that having no problem in both getting a new lease after DISCOVER and prolongation of existing lease. I've switched this interface to dhclient and having no problem with DHCP since that.

Trying to troubleshoot this, I've changed `duid` to `clientid`, disabled `hostname`, disabled require `dhcp_server_identifier` and whitelisted the ISPs DHCP server IP - nothing changed.

From that point of view, it looks like that dhcpcd is forming REQUEST in the way that DHCP server is ignoring it and not sending any ACKs (since we also see nothing in tcpdump output) while two other clients form REQUESTs that make DHCP-server respond with an ACKs.

This may be (most likely it is) a custom DHCP server developed by the ISP (a big national company having millions and millions of cellular, fixed and also commercial customers including trunks), but this does not change the fact, that two other clients work and also people on related forum report wifi routers having no problems receiving IP-addresses from that DHCP-server with this PON-terminal.

RFC 7844
> [3.1](https://www.rfc-editor.org/rfc/rfc7844.html#section-3.1).  Avoiding Fingerprinting
The client intending to protect its privacy SHOULD randomize the
   ordering of options before sending any DHCPv4 message.  If this
   random ordering cannot be implemented, the client MAY order the
   options by option code number (lowest to highest).

Option ordering should never be in any fixed order.

> > 
> 
> Option ordering should never be in any fixed order.

That is true, but unfortunately change nothing. Very little chance that ISP will update its server only because problems with some client. Hope this is not the case.

> And if another ISP has a different ordering requirement, what then?

It was just a guess that order may make sense from a random guy. Personally, I don't think it is a trouble because to many other clients work while dhcpcd do not. The probability that several different clients send options in same order that match ISP DHCP-server requirement is very low. It more likely that your suggested commits will solve the problem. Can you merge them to some branch and provide config options to enable all needed and I test with this ISP?

>  Can you merge them to some branch and provide config options to enable all needed and I test with this ISP?

They have all been merged to master.
They just provide one extra config option static_routes which now sits alongside classless_static_routes in dhcpcd,conf
So basically you don't need to change your config.

If it fails, please provide another capture which should show the only things that are different now is the ordering of the options and the ordering of the options in the Option Request Option.

So, I should build dhcpcd from master and then enable `static_routes` in config? Any other options that should be enabled/disabled?

Yes, build from master.
Don't enable static_routes in config though as the idea is not to request that option so we more match what dhclient is sending.

The last config you used should be fine.

Also, while testing I spotted couple of quirks:
- `dhcpcd --clientid ""`  produced a skewed value (as seen by `dhcpdump`) compared to `dhcpcd --clientid "00:1b:21:a0:b1:c2"`, last one matched with padding.
- `dhcpcd --hostname ""` did not include hostname option in the dump, but `dhcpcd --hostname "deb"` did.

Debian 12 still has dhcpcd-9.4.1 though.

> You should now be sending exactly the same options and requested options as your dhclient and the only difference left should be the ordering. Let me know, and send another dhcpcd tcpdump if it still fails.

The provided config and dhcpcd built from master do not work either.
Debug information sent via e-mail.

> > You should now be sending exactly the same options and requested options as your dhclient and the only difference left should be the ordering. Let me know, and send another dhcpcd tcpdump if it still fails.
> 
> The provided config and dhcpcd built from master do not work either. Debug information sent via e-mail.

And looking over those the only difference (aside from the excellent IP header analysis above) is indeed the option ordering.
I've added a patch in the `dhcp_option_order` branch which moves the Message Type option to the top which matches other clients.
Can you test that please?

OK, we have two branches. Hopefully we just need the IP header changes. If not then we try the option ordering change.
Please both of you, try and test both branches and let me know if that fixes anything.

@rsmarples I've compiled both and will be checking them this evening (hope so).

Moreover, the ISP's stuff came to me and requested an on-line debug session with my server so the can see what's going on in real time. I have no clue why they need me for that if they can compile or even get precompiled dhcpcd themselves, my guess they want to see the real condition from a remote client side. Since this is not a big deal I'm going to help them tomorrow morning. If one of this patched version works, this will directly point out how to fix server so it will work not just with patched dhcpcd, but with old versions also making it less pesky on REQUESTs. Hope so.

@e-pirate you might want a third binary with one branch merged in with the other to test both at the same time.
Good luck!

@rsmarples I have 3 of them: `master`, `dhcpcd-dhcp_ip` and `dhcpcd-dhcp_option_order`. Things got serious :-)

> [@rsmarples](https://github.com/rsmarples) I have 3 of them: `master`, `dhcpcd-dhcp_ip` and `dhcpcd-dhcp_option_order`. Things got serious :-)

At the time of writing, both branches are up to date with master.
I am suggesting you want to do something like: 

```
git checkout master
git checkout -b dhcp_fixes
git merge dhcp_ip
git merge dhcp_option_order
./configure
make clean
make
```

ie, test both changes in one binary in case both are needed.

@rsmarples I have no git on that server and therefore have to download zip and then compile it. So, should I just get current master, compile and use it (with that config you provided) for tests?

No. I was suggesting that you needed 3 binaries is all - dhcp_ip, dhcp_option order and dhcp_ip + dhcp_option_order.
Would if help if I made a dhcp_fixes branch with both in for you?

> Would if help if I made a dhcp_fixes branch with both in for you?

Nop, I merge it locally and then pack and send result to target server and then build it there. I just need orders what to do.

I posted the instructions on how to do that above. Here they are again :)

```
git checkout master
git pull
git checkout -b dhcp_fixes
git merge dhcp_option_order
git merge dhcp_ip
./configure
make clean
make
```

Well, you used both fixes. Try just the fix from the dhcp_option_order branch.
They can look at the commit 90811d9656076796557f47749815f2eb3157c0cc.

The other change is something I should probably make at this end anyway, but want to know for sure before I merge.

@rsmarples the `dhcp_option_order` along will be tested and results reported tomorrow morning. I'm slightly afraid of loosing access to the server cause of network failure and have to get there for fixing it from the local network in case something goes wrong.

@rsmarples The `dhcp_option_order` along worked as well with default (desired) config. Have no clue if this is needed, but sent another portion of dumps via e-mail.

Upon closer inspection, packet headers from `dhclient` and `dhcp_ip` branch here look identical to me.
But maybe we could do better than `dhclient` here.

Reading RFC4594, I find it quite conflicting applicable to DHCP client, which at times may be e.g. a user laptop or a an edge router..

§3.3
> The following applications SHOULD use the OAM service class:
>    o  Provisioning and configuration of network elements.
> ...

> The following are traffic characteristics:
> ...
>    o  Traffic not sensitive to delays.

§3.2
> The following are examples of protocols and applications that SHOULD use the Network Control service class:
>    o  Control information exchange within and between different administrative domains across a peering point where SLAs are in place.
> ...

> The following are traffic characteristics of packet flows in the Network Control service class:
>    o  Mostly messages sent between routers and network servers.
> ...
>    o  User traffic is not allowed to use this service class.  By user traffic, we mean packet flows that originate from user-controlled end points that are connected to the network.

Not sure if it is a good idea to introduce an executable switch to raise DSCP priority..
But (especially in our case of ISP clients) a logic where client sets DSCP field of DHCPREQUEST (and maybe DHCPRELEASE) packets specifically according to DHCPOFFER value as set by server itself (CS6 in our case) would be very fitting exactly to prioritize renew packets (quite often, every 150s in our case).
And default CS2 for DHCPDISCOVER would still be fitting as it is only an initial server bring-up and is completely irrelevant when last DHCP lease IP is already cached (globally routable static mapping in our case as an ISP option).

One could argue that renew process is still "not sensible to delays" and I get that there is T2-T1 window, but when we consider it among e.g. VOICE and VIDEO traffic from router, it really seems like a "Network control" traffic to me.

I'm already one step ahead of you here and decided that setting CS6 on all our packets was the way forwards.
While doing this I also refactored the code a bit so we always send our own ip header just like in BPF which makes the code easier to do.

However, I hit a stumbling block on NetBSD because IP_HDRINCL requires ip_len and ip_off in host order whereas every other OS has it in network order. I need to fix this first before changing dhcpcd.

> decided that setting CS6 on all our packets was the way forwards.

Always by default? Even if client is just end-user OS?
I'd prefer behavior described above, default CS2 and raise to CSn if talked to using it.
Or at least let user config and take responsibility.

Why disregard:
> The following protocols and applications SHOULD NOT use the Network Control service class:
>    o  User traffic.
> 
>    The following are traffic characteristics of packet flows in the Network Control service class:
> ...
>    o  User traffic is not allowed to use this service class.  By user traffic, we mean packet flows that originate from user-controlled end points that are connected to the network.

But it's your call, of course.

https://datatracker.ietf.org/doc/html/rfc4594#section-4.9

@rsmarples 

> Unless I got it wrong?

Well, it's not clear for sure.. here's my take.

First of all, RFC8174, RFC2119:

> [3](https://datatracker.ietf.org/doc/html/rfc2119#section-3). SHOULD   This word, or the adjective "RECOMMENDED", mean that there
>    may exist valid reasons in particular circumstances to ignore a
>    particular item, but the full implications must be understood and
>    carefully weighed before choosing a different course.
> 
> [4](https://datatracker.ietf.org/doc/html/rfc2119#section-4). SHOULD NOT   This phrase, or the phrase "NOT RECOMMENDED" mean that
>    there may exist valid reasons in particular circumstances when the
>    particular behavior is acceptable or even useful, but the full
>    implications should be understood and the case carefully weighed
>    before implementing any behavior described with this label.

Then, RFC4594 [3.3](https://datatracker.ietf.org/doc/html/rfc4594#section-3.3):

> The following applications SHOULD use the OAM service class:
>    o  Provisioning and configuration of network elements.

which is definitely a purpose of DHCP.

While RFC4594, [4.9](https://datatracker.ietf.org/doc/html/rfc4594#section-4.9).  Standard Service Class:

> for traffic that has not been classified into one of the other supported forwarding service classes in the DiffServ network domain.

"not classified" in DS domain specifically as in "not matched" by classifiers, which is an entity class of DiffServ model itself.
Note: [1.2. Terminology](https://datatracker.ietf.org/doc/html/rfc2475#section-1.2) 

<details>
  <summary>Spoiler: additionally on classification, agreements&trust, conditioning. </summary>


RFC2475, [2.3](https://datatracker.ietf.org/doc/html/rfc2475#section-2.3)  Traffic Classification and Conditioning

>    Differentiated services are extended across a DS domain boundary by
>    establishing a SLA between an upstream network and a downstream DS
>    domain.  The SLA may specify packet classification and re-marking
>    rules and may also specify traffic profiles and actions to traffic
>    streams which are in- or out-of-profile (see Sec. 2.3.2).  The TCA
>    between the domains is derived (explicitly or implicitly) from this
>    SLA.
> 
>    The packet classification policy identifies the subset of traffic
>    which may receive a differentiated service by being conditioned and/
>    or mapped to one or more behavior aggregates (by DS codepoint re-
>    marking) within the DS domain.

RFC2475, [2.3.4.1](https://datatracker.ietf.org/doc/html/rfc2475#section-2.3.4.1) - [2.3.4.4](https://datatracker.ietf.org/doc/html/rfc2475#section-2.3.4.4)

>   The traffic originating from the source domain across a boundary may be marked by
>    the traffic sources directly or by intermediate nodes before leaving
>    the source domain.  This is referred to as initial marking or "pre-
>    marking".

>    Since packet marking may be distributed across multiple nodes, the
>    source DS domain is responsible for ensuring that the aggregated
>    traffic towards its provider DS domain conforms to the appropriate TCA.
>    ...
>    The boundary node of the source domain should also monitor
>    conformance to the TCA, and may police, shape, or re-mark packets as
>    necessary.

>    Traffic streams may be classified, marked, and otherwise conditioned
>    on either end of a boundary link (the DS egress node of the upstream
>    domain or the DS ingress node of the downstream domain).  The SLA
>    between the domains should specify which domain has responsibility
>    for mapping traffic streams to DS behavior aggregates and
>    conditioning those aggregates in conformance with the appropriate
>    TCA.  However, a DS ingress node must assume that the incoming
>    traffic may not conform to the TCA and must be prepared to enforce
>    the TCA in accordance with local policy.

</details>

But at the same time, RFC4594 [3.3](https://datatracker.ietf.org/doc/html/rfc4594#section-3.3):

>    RECOMMENDED conditioning performed at DiffServ network edge:
> ...
>    o  Normally OAM&P CS2 marked packet flows are not allowed to flow
>       across peering points.  If that is the case, then CS2 marked
>       packets SHOULD be policed (dropped) at both egress and ingress
>       peering interfaces.

So, within the same DS domain we either choose to classify DHCP traffic as OAM&P CS2 or leave it with the rest unclassified traffic in CS0, but as soon as it is between domains our legal options are CS0 or CS6. And the later is regulated between domains, policed ingress on upstream either way.

Moreover, the whole model is about flows of traffic and flows are directional. So, I believe it is perfectly acceptable to have different DSCP values on per flow and per hop basis.

---

Notably, there are cases when ISPs require CS6 from subscriber equipment, e.g. Orange FR:
[Feature Request : DSCP on DHCP packets](https://forum.mikrotik.com/t/feature-request-dscp-on-dhcp-packets/96625)
> The real need is to be able to mark outgoing DHCP client packets with a DSCP value. The reason stays the same, the isp Orange need it to answer DHCP requests.

Apparently there was a real need for ISPs to prioritize DHCP traffic above real-time classes like telephony and multimedia. And our GPON-based ISP similarly provides SIP, IPTV (including CCTV) services via the same connection.
E.g. Huawei (vendor of my OLT branch) mentions in their NetEngine 8000 router docs [`dhcp dscp-outbound`](https://info.support.huawei.com/hedex/api/pages/EDOC1100363264/AEN0403J/05/resources/command/yunshan/SETIPTOS(DHCPOM).html) command:

> The dhcp dscp-outbound command sets a differentiated services code point (DSCP) value for DHCP reply messages.
> By default, no DSCP value is set for DHCP reply messages.

> Usage Scenario
> On an IPTV network, a user device sends DHCP Offer messages with priority 0 to a set top box (STB) for registration. The STB does not identify messages with priority 0 and fails to assign an IP address to the user. The dhcp dscp-outbound command is used in this scenario.
> 
> Configuration Impact
> The dhcp dscp-outbound command enables a DHCP broadband access server, DHCP Server, or relay agent to send DHCP reply messages carrying non-zero priorities so that the devices can receive replies.

So, my ISP probably does set CS6 for similar purposes.

---

Also, in pfSense I see an option (although for CoS, not DSCP) with a description that recognizes this need.

<details>
  <summary>Spoiler: screenshot</summary>
  
![Image](https://github.com/user-attachments/assets/6c8195ff-c892-459e-ad8c-afb06b041bca)

</details>

---

The conclusion is that due to flexibility of the model it is not possible to predict DHCP usage for proper classification within RFC guidelines, and this is in the first place a job of networking staff responsible for DS domain, not application's. So there really has to be a configurable parameter for this.

I don't object to adding an option in the config file to set a DSCP of something other than a default of CS0, assuming the socket options support it. Many dhcp relays do offer the option to modify the DSCP, and many docs I've seen recommend IPTOS_DSCP_EF (184).

Hi, I spent time to set dhcpcd to fit my ISP need in term of opions, and was very happy to find everything I need until I realized that I have to mark my DHCP packets with CS6, not DSCP but 802.1p (priority field on VLAN header).

I realized then that some patch on dhclient FreeBSD version is giving this capability with vlan-pcp option, but the native dhclient is only doing IPv4...

Reading the issue here, perhaps giving the option to do the same would also solve this one (and mine :))

> [@rsmarples](https://github.com/rsmarples) any news/plans here?

So this has evolved into two different issues now.
I am in two minds about the ordering of the options, because it's not RFC conformant by default and I'm loath to add an option just to enable it. So still thinking about it.

What we can do better in the IP header I still need to work on and the information here is invaluable.
One issue is that each OS treats RAW socket differently when sending the header and I need to be careful.

@e-pirate we can make this easier. If you create a new ticket about the option ordering we can change the text of this one to reflect the IP header improvements as there is a lot of good stuff here.

Greetings,

Over in pfSense we expose and make use of the `vlan-pcp code;` declaration in FreeBSD's dhclient(8) implementation. I am working on migrating all DHCP client needs to dhcpcd, and betting on dhcpcd eventually landing in the base FreeBSD distribution.

It would be nice to have an equivalent knob here in dhcpcd for this.

@e-pirate 
We'll keep this one open to deal with the IP header DSCP issue.

Please file a new ticket to specifically track the option ordering issue.

"Add ability to specify DHCP option ordering" or something like that. Include the fields required by the ISP, and what order they are required to be in.

Thanks!

Our ISP is very cryptic.. they never give up any info as if it was a gov secret stuff or simply overly cautious to make a single statement on anything 🤷‍♂️ They did not know their (or more likely HW vendor's) DHCP server implementation has option order preferences.

I believe server simply discarded DHCPREQUEST packets that did not start BOOTP payload with Option53 (DHCP message type)
Option50 (Request IP address) was preceding it causing server to ignore.


After rebuild of ISC's dhcp that provides dhclient I've noticed Gentoo message that client and relay functionality will be soon removed from what is know as ISC DHCP, and there is a corresponding news on the [site](https://www.isc.org/dhcp/): `ISC has ended development on the ISC DHCP client as of early 2022. This client implementation is no longer maintained and should not be used in production any longer.` Looks like there will be no maintained alternative to dhcpcd to work with pesky ISPs soon and the DHCP option ordering is a good functionality to be brought to master/stable ASAP.
P.S. client functionality and corresponding use flag are still present in net-misc/dhcp-4.4.3_p1-r6 available in actual Gentoo stable, but it looks like it is a good idea to mask any grater versions no to find yourself without working dhcp client with no Internet.

Regarding the DSCP/COS I made a comment in this thread https://github.com/NetworkConfiguration/dhcpcd/issues/511#issuecomment-3019228268 which is I think still missing on this issue to be closed and others mentioned also.
Would be nice to have the v4 option to have COS/802.1p for IPv4 as it is using raw and not possible to manipulate that like it can be done outside of dhcpcd on IPv6

Finally, I have switched my WAN interface from dhclient to dhcpcd and can confirm that it work as expected.

Prior switching to 10.3 I have downgraded dhcpcd to 10.2.4 to see if my ISP fixed the provider side so older versions are able to work - nop, this is not the case. Even ISP is aware of the problem, they still done nothing. They replayed it is a PON-socket (terminal) firmware bug that mast be fixed by manufacturer (D-Link in my case, they develop custom firmware for my ISP), but anyway any dhcpcd version lower then 10.3 will never receive ACK and never get an IP. Probably, this is very narrow case (PON-socket + GNU/Linux based customer equipment with one-of-many DHCP client that they know was fixed in latest version) so they don't care to much.

Anyways. 10.3 work like a charm. I have set `clientid`, `noarp`, `nodelay`, `noipv4ll` and `nooption host_name` for that particular interface as I prefer not to provoke ISP with sudden id changes, ARPing is not needed because this is dedicated "peer-to-peer" line none else present, delay is not much of use also because it is extremely unlikely some request surge to happen, hostname should be not updated under any circumstances. I will probably add more nooption later.

I also have hook script that manages iptables rules that happen to be a drop-in copy from dhclient with an only update caused by dhclient never produced STOPPED, NOCARRIER and CARRIER reasons that now throws some `UNHANDLED event` warnings to logs. As this events make no sense to firewall rule managing I just added them to ignored list (among PREINIT) to suppress warning in logs. The rest part of the script work perfectly as with dhclient.

Finally, after switching to 10.3 and some minor (probably unneeded) tuning of dhcpcd.conf and firewall hook script I got it working. I was trying really hard to find a case when dhcpcd will fail to obtain a lease: many exotic (hardly imaginable in real life) combinations of optic and ethernet link failures with dhcpcd running or started prior and after links becomes ready, power failures (in different combinations), reboots, PON-terminal mockery - all failed! I was unable to make dhcpcd to leave WAN interface without IP address. Not a single time. This is a true success!

Will see how dhcpcd will show itself in ling-term stability, but according to my tests I do not expect any problems.

Thank you for help and fix, folks!

> Does the above still apply to 10.5.2?

Well, 10.5.2 work just like 10.3.2 for all my test cases.
But, as mentioned by @2Belette and @rsmarples this issue addresses different problem described by @2Belette. I don't know if any decision and work was done on that in 10.5.2 and this can be closed.